// Name: Victoria Dorn
// Class: CS290-400
// Email: dornv@oregonstate.edu
// Assignment: HW Assignment: HTML/CSS
// Date: 01/13/2017

td, th{
  border-style:solid;
}

table{
  border-style:solid;
}

#box{
  width: 75%;
}
.outer-content{
	position:absolute;
	padding: 20px;
	background-color: pink;
}

.inner-content{
	color: white;
	text-align: center;
	background-color: blue;
	height: 50%;
}

.even{
	background-color: #9befe1;
}

.odd{
	background-color: #b7ef9b;
}